<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notepad</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="main w-full min-h-screen bg-zinc-900 text-white p-10">
        <div class="form">
            <form action="/create" method="post">
                <input class="block bg-zinc-700 p-2 w-full my-4 rounded-md" name="title"  type="text" placeholder="Title goes hear">
                <textarea  class="block p-2 bg-zinc-700 w-full rounded-md" name="details" placeholder="Write your task details"></textarea>
                <input class="button bg-blue-600 my-2 px-2 py-2 rounded-md" type="submit" value="Create task">
            </form>
        </div>
        <div class="tasks my-10 flex gap-10 flex-wrap">
            <% if (files.length > 0) { %>
                <% files.forEach(elem => {  %>
                   <div class="card bg-zinc-800 min-w-72 p-2 rounded-md">
                <h1 class="text-4xl"><%= elem  %></h1>
                <div class="flex justify-between">
                <a href="/file/<%= elem %>" class="block w-fit"><p class="my-2 text-blue-500">Read more</p></a>
                 <a href="/edit/<%= elem %>" class="block w-fit my-2 text-blue-500">Edit filename</a></div>
            </div> 
             <%   }); %>
         <%   } else{ %>
           <h1 class="text-zinc-600 text-4xl">No task yet.</h1>
       <%   } %>
            
        </div>
    </div>

    <script src="/javascripts/script.js"></script>
</body>
</html>